<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Signup Form</title>
  </head>
  <body>
    <header class="signup-header">
      <nav>
            <p class="homepage-link"><a href="./todo">DONE.</a></p>
          <ul class="right-links">
          <li>
            <a href="./login">Login</a>
          </li>
            <a href="./signup">Sign Up</a>
          </li>
          </ul>
      </nav>
    </header>
    <form class="flex-center-signup-form">
      <label for="user-first-name">First Name</label>
      <input id="user-first-name" type="text" placeholder="First Name" />
      <label for="user-last-name">Last Name</label>
      <input id="user-last-name" type="text" placeholder="Last Name" />
      <label for="email">Email</label>
      <input id="email" type="email" placeholder="Email Address" />
      <label for="user-password">Password</label>
      <input
        id="user-password"
        type="password"
        placeholder="Create Password"
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,24}$"
        required
      />
      <label for="user-confirm-password">Confirm Password</label>
      <input
        id="user-confirm-password"
        type="password"
        placeholder="Confirm Password"
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,24}$"
        required
      />
      <!-- Submit Btn -->
      <button type="submit" class="btn" name="submit-button">Submit</button>
    </form>
    <div class="password-requirements">
      <p>Passwords must be at least 8 characters in length and include:</p>
      <ul>
        <li>at least one lowercase letter</li>
        <li>at least one uppercase letter</li>
        <li>at least one number</li>
      </ul>
    </div>
  </body>
</html>
