<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>DONE.</title>
  </head>
  <body>
    <header class="hero flex-center">
      <h1>DONE.</h1>
      <p>To-do, but better.</p>
    </header>
    <main>
      <article class="flex-center todo">
        <h2>What needs to get DONE?</h2>
        <form class="todo-form" action="/api/todo" method="POST">
          <label for="task-input">New task:</label>
          <div class="">
            <input
              id="task-input"
              name="task-input"
              type="text"
              placeholder="Sell the cat..."
            />
            <button type="submit" class="btn" name="add-button">Add</button>
            <div>
              <input id="checkbox" type="checkbox" />
              <label for="checkbox">Learn Javascript</label>
              </div>
              <div>
              <input id="checkbox" type="checkbox" />
              <label for="checkbox">Get Job</label>
              </div>
              <div>
              <input id="checkbox" type="checkbox" checked />
              <label for="checkbox" class="completed">Improve life</label>
              <input type="date" />
              </div>
            </div>
          </div>
        </form>
      </article>
    </main>
    <h2 class="sign-up"><a href="./signup.html">Sign Up Here</a></h2>
  </body>
</html>
