:root {
  --border-soft: 0.25rem;
  --clr-bg: blueviolet;
  --clr-primary: whitesmoke;
}

body {
  background-color: var(--clr-bg);
  color: var(--clr-primary);
  font-family: Poppins, sans-serif;
  font-size: 1rem;
}

.hero h1 {
  margin: 2rem 0 0 0;
}

.hero p {
  margin: 0.5rem 0 0 0;
}

.flex-center {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
}

.todo-form input {
  border: none;
  background-color: var(--clr-primary);
  color: var(--clr-bg);
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: var(--border-soft);
}

.todo h2 {
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 2px;
}

.btn {
  padding: 0.5rem 2rem;
  font-size: 1rem;
  color: var(--clr-bg);
  background-color: var(--clr-primary);
  text-transform: uppercase;
  font-weight: 500;
  border: none;
  border-radius: var(--border-soft);
  border: 2px solid var(--clr-bg);
}

.btn:hover {
  color: var(--clr-primary);
  background-color: var(--clr-bg);
  border: 2px solid var(--clr-primary);
}

input:checked + label {
  color: black;
}

.sign-up {
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
}

.sign-up:hover {
  color: var(--clr-primary);
  background-color: var(--clr-bg);
  border: 2px solid var(--clr-primary);
  text-decoration: none;
}

input > text {
  display: block;
}
