/* general styling */

:root {
  --border-soft: 0.25rem;
  --clr-bg: blueviolet;
  --clr-primary: whitesmoke;
}

body {
  background-color: var(--clr-bg);
  color: var(--clr-primary);
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--clr-primary);
}

/* todo.html styling */

.hero h1 {
  margin: 2rem 0 0 0;
}

.hero p {
  margin: 0.5rem 0 0 0;
  font-weight: lighter;
}

.flex-center {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: ;
  padding: 1rem;
}

.todo h2 {
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 2px;
}

span {
  font-weight: 500;
}

.todo-form input {
  border: none;
  background-color: var(--clr-primary);
  color: var(--clr-bg);
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: var(--border-soft);
}

.todo-item {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
}

.btn {
  padding: 0.5rem 2rem;
  margin: 10px 10px 20px 0px;
  font-size: 1rem;
  color: var(--clr-bg);
  background-color: var(--clr-primary);
  text-transform: uppercase;
  font-weight: 500;
  border: none;
  border-radius: var(--border-soft);
  border: 2px solid var(--clr-bg);
}

.btn:hover {
  color: var(--clr-primary);
  background-color: var(--clr-bg);
  border: 2px solid var(--clr-primary);
}

.task-input {
  padding: 20px;
}

input:checked + label {
  color: black;
}

.sign-up {
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  color: var(--clr-primary);
}

.sign-up:hover {
  color: var(--clr-primary);
  background-color: var(--clr-bg);
  border: 2px solid var(--clr-primary);
  text-decoration: none;
}

input {
  display: block;
}

/* signup.html */

header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

nav > ul {
  list-style-type: none;
  display: flex;
  gap: 2rem;
}

.left-link {
  margin-left: 30px;
}

.right-links {
  display: flex;
  flex-flow: row nowrap;
  margin-right: 40px;
}

.flex-center-signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 100px;
}

.password-requirements {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  font-weight: lighter;
  margin-top: 30px;
}
